.Categorias {
  font-family: Arial, Helvetica, sans-serif;
}
.Categorias .Nome_Do_Produto {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Categorias h2 {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.Produtos {
  display: flex;
  width: 98vw;
  overflow: auto;
}
.Produtos:hover {
  overflow-x: scroll;
}

.Produto_Individual_Estilo_Generalizado {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 5px 10px 10px 5px;
  padding: 15px;
  border-radius: 15%;
}

.Produtos div .Imagem_Do_Produto_Home {
  width: auto;
  height: 20vh;
}
.Produtos div h3 {
  margin: 0px;
  text-align: center;
  width: 250px;
}
.Produtos div p {
  margin: 0px;
}
.Botao_De_Adicao_De_Produto_No_Carrinho {
  background-color: red;
  border-radius: 10px 10px;
  border: 0px solid black;
}
