.Menu_Responsivo_Para_Telas_Menores {
  display: none;
}
.Links_Navegacao_Responsivel {
  display: none;
}

@media (max-width: 1030px) {
  .Login_Botao {
    margin: 0;
    padding: 0;
  }
  .Login {
    zoom: 0.8;
  }
}

@media (max-width: 800px) {
  .Links_Navegacao {
    zoom: 1.5;
  }
  .Mercados_Juntos {
    zoom: 0.6;
  }
  .Produtos div .Imagem_Do_Produto_Home {
    zoom: 0.6;
  }
  .Login {
    zoom: 0.6;
  }
}

@media (max-width: 600px) {
  .Login_Botao {
    display: none;
  }
  .Banner_Topo .Login {
    display: none;
  }
  .Links_Navegacao > div {
    display: none;
  }
  .Botao_De_Ativacao_De_Troca_De_Tema {
    display: none;
  }
  .Links_Navegacao {
    display: block;
  }
  .Banner_Topo {
    display: block;
  }
  .Banner_Topo div {
    zoom: 2;
    margin: 4px 0 0 0;
  }

  .Menu_Responsivo_Para_Telas_Menores {
    zoom: 2.5;
    display: flex;
    position: absolute;
    right: 15px;
    top: 20px;
    width: 25px;
  }
  .Logo_Site {
    width: 60px;
    margin: 0 5px 0 0;
  }
  .Pesquisa {
    padding: 8px 40px 8px 6.4px;
    width: 100px;
    font-size: 5px;
  }
  .Imagens_De_Apresentacoes {
    height: 30vw;
    width: 90vw;
  }
  .Div_Espacamento_Entre_Linha {
    height: 37vw !important;
  }
  .Mercados_Juntos {
    zoom: 0.6;
  }
  .Links_Navegacao_Responsivel div div button {
    zoom: 0.15;
    bottom: -550px;
    left: 15px;
  }
}
@media (max-width: 550px) {
  .Links_Navegacao_Responsivel div div button {
    zoom: 0.15;
    bottom: -565px;
    left: 15px;
  }
  .Links_Navegacao_Responsivel div div button {
    bottom: -550px;
  }
}
@media (max-width: 528px) {
  .Menu_Responsivo_Para_Telas_Menores {
    right: 5px;
  }
}
@media (max-width: 520px) {
  .Menu_Responsivo_Para_Telas_Menores {
    zoom: 2;
    top: 18px;
  }
  .Banner_Topo div {
    zoom: 1.5;
  }
  .Links_Navegacao_Responsivel div div button {
    zoom: 0.2;
    bottom: -493px;
    left: 42px;
  }
  .Links_Navegacao_Responsivel {
    top: 15px;
    zoom: 3.2;
  }
}

@media (max-width: 400px) {
  .Menu_Responsivo_Para_Telas_Menores {
    zoom: 1.5;
    top: 15px;
  }
  .Banner_Topo div {
    zoom: 1;
  }
  .Tela_De_Login_Geral div .Login {
    zoom: 1.1;
  }
  .Botao_De_Fechar_Login {
    width: 250px;
  }
  .Links_Navegacao_Responsivel div div button {
    zoom: 0.29;
    bottom: -464px;
    left: 75px;
  }
  .Links_Navegacao_Responsivel {
    zoom: 4.5;
    top: 7px;
  }
}
@media (max-width: 270px) {
  .Menu_Responsivo_Para_Telas_Menores {
    zoom: 1;
    top: 30px;
  }
  .Banner_Topo div {
    zoom: 1;
  }
  .Links_Navegacao_Responsivel div div button {
    bottom: -475px;
  }
}
