:root {
  --Cor_Do_Fundo: yellow;
  --Imagem_De_Fundo: url("../../img/Tema_Claro_Sol.png");
}

body {
  transition: 0.5s ease;
}

.Div_Do_Trocador_De_Tema {
  position: absolute;
  width: 50px;
}
.Agrupador_De_Botao_E_Bola {
  position: relative;
  top: -40px;
  left: 15px;
}
.Botao_De_Ativacao_De_Troca_De_Tema {
  /* Proporções 5/3 */
  width: 60px;
  height: 36px;
  border-radius: 20px 20px;
}
.Bola_De_Tema {
  background-color: var(--Cor_Do_Fundo);
  background-image: var(--Imagem_De_Fundo);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 23.5px;
  height: 23.5px;
  z-index: 99;
  box-shadow: 0px 0px 15px var(--Cor_Do_Fundo);
  transition: transform 0.5s ease;
}
#Input_De_Checagem_Para_Tema {
  position: absolute;
  z-index: -1;
}
#Input_De_Checagem_Para_Tema:checked ~ .Bola_De_Tema {
  --Cor_Do_Fundo: blue;
  --Imagem_De_Fundo: url("../../img/Tema_Escuro_Lua.png");
  transform: translateX(20px);
}
