.Links_Navegacao_Responsivel {
  background-color: white;
  position: absolute;
  right: -20px;
  top: calc((-1 * var(--Tamanho_Do_Espaco_Do_Menu)) + 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
  z-index: 99999;
  align-items: flex-start;
  padding: 30px;
  zoom: 2.5;
}
.Links_Navegacao_Responsivel div {
  font-size: 5px;
  display: flex;
  align-items: center;
}
.Links_Navegacao_Responsivel a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
}
.Links_Navegacao_Responsivel a img {
  width: 14px;
}
.Links_Navegacao_Responsivel .Login_Botao {
  display: flex;
  zoom: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  padding: 0;
  width: 100%;
  justify-content: center;
  background-color: rgb(255, 33, 33);
  outline: none;
  border: none;
  right: initial;
}

.Apresentacao_Menu {
  margin-left: 5px;
}

.Links_Navegacao_Responsivel div div button {
  display: flex;
  zoom: 0.2;
  position: absolute;
  bottom: -527px;
  left: 27px;
}
.Links_Navegacao_Responsivel div div button .Bola_De_Tema {
  position: absolute;
  zoom: 1;
  top: -2px;
  right: 25px;
}
.Fechador_De_Menu {
  position: absolute;
  font-size: 10px;
  width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 100% 100%;
  background-color: brown;
  top: -15px;
  left: -5px;
}
