.Mercados_Juntos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: auto;
}
.Mercados_Juntos:hover {
  overflow-x: scroll;
}
.Div_Mercado_Individual {
  display: flex;
  flex-direction: column;
  width: 212px;
}
