.Erro_404_Div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  zoom: 5;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 320px) {
  .Erro_404_Div {
    zoom: 1.8;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 375px) {
  .Erro_404_Div {
    zoom: 2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 425px) {
  .Erro_404_Div {
    zoom: 2.2;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 768px) {
  .Erro_404_Div {
    zoom: 3.5;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1024px) {
  .Erro_404_Div {
    zoom: 3.5;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1440px) {
  .Erro_404_Div {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 2560px) {
  .Erro_404_Div {
    zoom: 6;
  }
}
